ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
li{
    padding: 0 10px;
}
img {
    width: 7rem;
    padding: 0 5px;
}
a, button {
    text-decoration: none;
    color: black;
    font-size: larger;
}
a:hover, button:hover {
    color: darkred;
}
p {
    font-size: larger;
    margin: 0;
}