<ul>
    <li><a routerLink="" routerLinkActive="activa" [routerLinkActiveOptions]="{ exact : true }">Homem</a></li><p>|</p>
    <li><a routerLink="" routerLinkActive="activa" [routerLinkActiveOptions]="{ exact : true }">Mulher</a></li>
    <li><a routerLink="" routerLinkActive="activa" [routerLinkActiveOptions]="{ exact : true }"><img src="./assets/images/logo.png" alt="H&MLogo"></a></li>
    <li><a routerLink="" routerLinkActive="activa" [routerLinkActiveOptions]="{ exact : true }">Criança</a></li><p>|</p>
    <li><a routerLink="" routerLinkActive="activa" [routerLinkActiveOptions]="{ exact : true }">Acessórios</a></li>
</ul>