<div>
    <ul>
        <li><a href="https://www.facebook.com/"><fa-icon [icon]="fbokIcon"></fa-icon></a></li>
        <li><a href="https://twitter.com/"><fa-icon [icon]="twitIcon"></fa-icon></a></li>
        <li><a href="https://www.instagram.com/"><fa-icon [icon]="instIcon"></fa-icon></a></li>
        <li><a href="https://www.youtube.com/"><fa-icon [icon]="yotbIcon"></fa-icon></a></li>
        <li><a href="https://www.pinterest.pt/"><fa-icon [icon]="pintIcon"></fa-icon></a></li>
    </ul>
    <p>O conteúdo deste site está protegido por copyright e é propriedade da H & M Hennes & Mauritz AB. O conceito de negócio da H&M é a oferta de moda e qualidade aos melhores preços, de forma sustentável. Desde que foi fundada, em 1947, a H&M tornou-se uma das maiores empresas de moda do mundo.</p>  
</div>
