<ul *ngIf="logged">
    <li><a routerLink=""><fa-icon [icon]="wishlist"></fa-icon></a></li>
    <li><a routerLink=""><fa-icon [icon]="profile"></fa-icon></a></li>
    <li><a routerLink=""><fa-icon [icon]="logout"></fa-icon></a></li>
</ul>
<ul *ngIf="logged===false">
    <li><a routerLink=""><fa-icon [icon]="regist"></fa-icon></a></li>
    <li><a (click)="openModalLogin(content)"><fa-icon [icon]="login"></fa-icon></a></li>
</ul>

<!-- Login -->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Login</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <!-- <p>Erro</p> -->
        <form #loginForm="ngForm">
            <!-- {{ loginForm.value | json }}
            {{ userModel | json }} -->
			<div class="form-group">
				<label for="mail">E-mail:&nbsp;&nbsp;</label>
                <input type="email" name="email" id="mail" [(ngModel)]="userModel.nome">
            </div>
            <div class="form-group">
                <label for="senha">Senha:&nbsp;&nbsp;</label>
                <input type="password" name="senha" id="senha" [(ngModel)]="userModel.email">
            </div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Entrar</button>
	</div>
</ng-template>

 
