<div>
    <h2>{{product.marca}}</h2>
    <h3>{{product.nome}}</h3>
    <img src="{{img1Src}}" alt="{{product.nome}}">
    <img src="{{img2Src}}" alt="{{product.nome}}">
    <h4>{{product.tipo_de_produto +" "+ product.cor}}</h4>
    <h4>{{product.preco + "€"}}</h4>
    <p>{{product.descricao}}</p>
</div>
<!-- <div>
    <h2>product.marca</h2>
    <h3>product.nome</h3>
    <img src="" alt="product.nome">
    <img src="" alt="product.nome">
    <h4>product.tipo_de_produto +""+ product.cor </h4>
    <h4>product.preco</h4>
    <p>product.descricao</p>
</div> -->
